.container {
  padding: 5rem 2em;
  min-height: 100vh;
  // flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #525fc1, #000217);
}
