@use "../../styles/config" as *;

.footer {
  text-align: center;
  padding: 1em 2em;
  background-color: $clr-bg-primary;
  font-size: 1.2rem;
  letter-spacing: 0.2ch;
  color: $clr-nav-items;

  span {
    font-weight: 700;
  }
}
