.footer {
  text-align: center;
  padding: 1em 2em;
  background-color: #000;
  letter-spacing: 0.2ch;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;

  span {
    font-weight: 700;
  }
}
