.aboutContainer {
  .profileImg {
    margin: 0 auto;
    max-width: 200px;
    border-radius: 5px;
    border: 2px groove hsl(178, 88%, 73%);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    // box-shadow: hsla(185, 87%, 56%, 0.4) -5px -5px,
    //   hsla(185, 87%, 56%, 0.3) -10px -10px,
    //   hsla(185, 87%, 56%, 0.2) -15px -15px,
    //   hsla(185, 87%, 56%, 0.1) -20px -20px,
    //   hsla(185, 87%, 56%, 0.05) -25px -25px;
    @media (max-width: 710px) {
      max-width: 200px;
    }
  }

  .paragraph {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: #d9d9d9;

    &.name {
      font-weight: 400;
      font-size: 1.5rem;
      letter-spacing: 0.15ch;
    }

    &:last-child {
      font-weight: 300;
      color: #9af2e2;
    }
  }
}
