.contactLayout {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  max-width: 350px;
  margin: 0 auto;

  .title {
    margin: 0.5em auto 1rem;
    text-align: center;
  }

  .paragraph {
    margin: 2rem 0;
  }

  .socialList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1em;

    & > li {
      font-size: 1.5rem;
      padding: 0.6rem 0.2rem 0.2rem;
      transition: all 0.2s ease-out;
      &:hover {
        transform: scale(1.2);
      }
    }

    .socialListItemTwitter {
      color: #1da1f2;
      &:hover {
        color: #88d1ff;
      }
    }
    .socialListItemGithub {
      color: #f3ba1e;
      &:hover {
        color: #fad464de;
      }
    }
    .socialListItemLinkedIn {
      color: #3386da;
      &:hover {
        color: #51a8ff;
      }
    }
    .socialListItemInstagram {
      color: #c33670;
      &:hover {
        color: #df93b2;
      }
    }
  }
}
