.title {
  margin-bottom: 4rem;
  text-align: center;
  font-weight: 600;
}

.projectCard {
  max-width: 1000px;
  margin: 0 auto;

  &.hidden {
    display: none;
  }

  .projectTitle {
    font-weight: 400;
  }
  .projectInfo {
    margin-top: 1.5rem;
    font-weight: 400;
  }

  .projectImg {
    box-shadow: rgba(0, 0, 0, 0.507) 0px 20px 30px -10px;
    max-width: 400px;
    margin: 3rem auto;
    outline: 3px groove rgb(44, 140, 143);
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
